//Colors
$blue: #54a0ff;
$darkBlue: #287AE1;
$gray: #8395a7;
$white: #ffffff;
$black: #222f3e;
$red: #EB4D4B;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap'); //font-family: 'Almarai', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap'); //font-family: 'Cairo', sans-serif;
