@import "global";

.add-order-container {
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    .btn-add {
      @include Button;
      display: flex;
      justify-content: space-between;
      background-color: $black;
      padding: 12px 30px;
      width: 200px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      .plus-container {
        height: 20px;
        span {
          display: block;
          width: 2px;
          height: 20px;
          background-color: $white;
          border-radius: 8px;
          &:nth-child(1) {
            transform: rotate(90deg);
          }
          &:nth-child(2) {
            transform: translateY(-20px);
          }
        }
      }
    }
  }
  .add-form-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    backdrop-filter: blur(5px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .form-box {
      width: 600px;
      height: 1000px;
      max-width: 95%;
      background-color: $white;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      position: relative;
      .close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 28px;
        color: $black;
      }
    }
  }
}
