@import "global";

.requests-container {
  padding: 0 30px;
  .requests-title {
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
  }
  .requests-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    .filter-container {
      .filter-title {
        text-align: center;
        font-size: 28px;
      }
      .one-filter-container {
        margin: 10px 0;
        & > h3 {
          font-size: 24px;
        }
      }
      .options-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        .option {
          background-color: $gray;
          padding: 12px 30px;
          font-size: 20px;
          margin: 10px;
          transition: 0.1s ease;
          cursor: pointer;
          user-select: none;
          color: $white;
          border-radius: 30px;
          &:hover {
            background-color: $darkBlue;
          }
          &:active {
            transition: none;
            transform: scale(0.95);
          }
          &-active {
            background-color: $blue;
            &:hover {
              background-color: $blue;
            }
          }
        }
      }
      .select-container {
        @include SelectContainer;
      }
    }
    .items-container {
      display: grid;
      row-gap: 30px;
    }
  }
}
